@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';



body{
    font-family: 'Roboto', sans-serif;
    color:#fff;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

a{
    color: #fff;
    text-decoration: none;
}
.devider{
    width: 148px;
    height: 1px;
    background-color: $orange;
    margin: 0 auto;
    margin-top: 16px;
}


@import 'blocks/btn';
@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/job';
@import 'blocks/agent';
@import 'blocks/prices';
@import 'blocks/consultation';
@import 'blocks/managers';
@import 'blocks/schemes';

