.agent{
    min-height: 340px;
    padding: 58px 0 75px 0;
    background: url('../../img/bg/agent-bg.png') center center / cover no-repeat;
    &__icon{
        margin: 0 auto;
        width: 142px;
        height: 142px;
        img{
            width: 100%;
        }
    }
    &__title{
        margin-top: 20px;
        color: #fff;
    }
    &__descr{
        margin-top: 20px;
        font-weight: 300;
        font-size: 19px;
        line-height: 27px;
        text-align: center;
        color: #FFFFFF;
    }
}