.footer{
    min-height: 200px;
    padding: 40px 0 30px 0;
    background: #25333C;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__number{
        display: flex;
        flex-direction: column;
        span{
            text-align: right;
            font-weight: 300;
            font-size: 14px;
            color: #FFFFFF;
        }
    }
    &__descr{
        font-weight: 700;
        font-size: 16px;
        margin-right: 290px;
    }
    &__phone{
        font-size: 19px;
    }
    &__devider{
        width: 100%;
        background-color: #fff;
        opacity: 0.3;
    }
    &__down{
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        font-weight: 300;
        font-size: 13px;
    }
    &__text{
        margin-right: 193px;
    }
    &__policy{
        color: $orange;
        margin-right: 400px;
        &:hover{
            text-decoration: underline;
            text-underline-offset: 20%;
        }
    }
    &__create{
        display: flex;
        align-items: end;
        &-text{
            margin-right: 10px;
        }
    }
}