.reviews{
    padding: 50px 0 66px 0;
    &__subtitle{
        margin-top: 15px;
        font-weight: 300;
        font-size: 21px;
        text-align: center;
        color: #2E2E2E;
    }
    
    
}